/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 40px;
}

/* Container */
.container {
    max-width: 900px;
    margin: auto;
    background: #eee;
    padding: 30px;
    border: 2px solid #333;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

/* FORM FLEXBOX */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Row dùng Flexbox */
.row {
    display: flex;
    gap: 20px;
}

/* Input chung */
input,
textarea {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Textarea */
textarea {
    height: 200px;
    resize: none;
}

/* Nút + text dưới cùng */
.bottom-row {
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px 20px;
    background: #6fb3d2;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #4a9cc5;
}

.bottom-row span {
    font-size: 13px;
    color: #666;
}